# Ignore CSS, Fonts and JS files that are copied from static-resources
src/main/resources/static/css/*.css
src/main/resources/static/css/*.css.map
src/main/resources/static/fonts/*
src/main/resources/static/js/*.js
src/main/resources/static/js/*.js.map

#Ignore document that are different in each user configuration 
src/main/resources/application-dev.yml
src/main/resources/application.yml